<div class="px-4 mt-8 sm:px-8">
  <form class="max-w-lg mx-auto">
    <mat-form-field class="w-full">
      <mat-label>User ID</mat-label>
      <input matInput value="1" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>First Name</mat-label>
      <input matInput value="John" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Last Name</mat-label>
      <input matInput value="Smith" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input matInput value="john@gmail.com" />
    </mat-form-field>
  </form>
  <div class="flex justify-center">
    <button mat-raised-button>Add</button>
    <button mat-raised-button class="mx-2">Update</button>
    <button mat-raised-button>Delete</button>
  </div>
</div>
