<div class="px-4 mt-8 sm:px-8">
  <form class="max-w-lg mx-auto" [formGroup]="userManagementForm">
    <mat-form-field class="w-full">
      <mat-label>User ID</mat-label>
      <input matInput formControlName="id" name="id" type="number" />
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>First Name</mat-label>
      <input matInput formControlName="name" name="name" type="text" />

      @if (name?.hasError('minlength') && !name?.hasError('required')) {
        <mat-error
          >Name too short (minimum
          {{ name?.getError('minlength')['requiredLength'] }}
          characters)</mat-error
        >
      }

      @if (name?.hasError('maxlength') && !name?.hasError('required')) {
        <mat-error
          >Name too long (maximum
          {{ name?.getError('maxlength')['requiredLength'] }}
          characters)</mat-error
        >
      }

      @if ((name?.dirty || name?.touched) && name?.hasError('required')) {
        <mat-error>Name is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Last Name</mat-label>
      <input type="text" matInput formControlName="surname" />

      @if (surname?.hasError('minlength') && !surname?.hasError('required')) {
        <mat-error
          >Surname too short (minimum
          {{ surname?.getError('minlength')['requiredLength'] }}
          characters)</mat-error
        >
      }

      @if (surname?.hasError('maxlength') && !surname?.hasError('required')) {
        <mat-error
          >Surname too long (maximum
          {{ surname?.getError('maxlength')['requiredLength'] }}
          characters)</mat-error
        >
      }

      @if (
        (surname?.dirty || surname?.touched) && surname?.hasError('required')
      ) {
        <mat-error>Surname is <strong>required</strong></mat-error>
      }
    </mat-form-field>

    <mat-form-field class="w-full">
      <mat-label>Email</mat-label>
      <input type="email" matInput formControlName="email" />
      @if (email?.hasError('email') && !email?.hasError('required')) {
        <mat-error>Please enter a valid email address</mat-error>
      }
      @if ((email?.dirty || email?.touched) && email?.hasError('required')) {
        <mat-error>Email is <strong>required</strong></mat-error>
      }
    </mat-form-field>
    <div class="mt-4 flex justify-center">
      <button
        (click)="requestAction(UserTypeOperation.ADD)"
        name="add"
        [disabled]="disabledButton(UserTypeOperation.ADD)"
        mat-raised-button>
        Add
      </button>
      <button
        [disabled]="disabledButton(UserTypeOperation.UPDATE)"
        (click)="requestAction(UserTypeOperation.UPDATE)"
        name="update"
        mat-raised-button
        class="mx-2">
        Update
      </button>
      <button
        [disabled]="disabledButton(UserTypeOperation.DELETE)"
        (click)="requestAction(UserTypeOperation.DELETE)"
        name="delete"
        mat-raised-button>
        Delete
      </button>
    </div>
  </form>
</div>
